{% extends 'authentication/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'authentication/style.css' %}"> {% endblock css %} {% block title %}Home{% endblock title %} {% block content %}
<div class="wrapper d-flex flex-column justify-content-center align-items-center">
    <div class="box d-flex flex-column justify-content-center align-items-center">
        {% if dataProfile %}
        <img src="{{ dataProfile.photo }}" alt="" width="100" height="100" class="mb-3">
        <h3>{{ dataProfile.name }}</h3>
        <h5>{{ dataProfile.city }}, {{ dataProfile.birthDate }}</h5>
        {% else %}
        <h3 style="color: aliceblue !important;">Hello, {{ request.user }}</h3>
        {% endif %}
        <p class="m-0" style="color: aliceblue !important;">Thankyou for login to my page</p>
    </div>
    <a href="{% url 'authentication:logoutPage' %}">
        <button type="button" class="btn btn-light btn-logout">Logout</button>
    </a>
</div>
{% endblock content %}