@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    font-family: "Poppins";
}

.wrapper {
    min-height: 100vh;
    background-image: url('./background-hitam-kuning.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    padding: 40px 20px 20px 20px;
    background-color: rgba(22, 21, 21, 0.98);
    box-shadow: 2px 2px 3px #aaaaaa;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 400px;
}

.title {
    margin-bottom: 50px;
    color: #e7e7e7;
    font-weight: 600;
}

.errorlist {
    padding: 0;
    margin: 0;
}

.errorlist li {
    list-style: none;
}

.btn-auth {
    width: 330px;
    background-color: #efff08;
    color: black;
    border: none;
    margin-bottom: 10px;
}

.btn-auth:hover {
    background-color: black;
    color: black;
}

@media only screen and (max-width: 430px) {
    .box {
        width: 95vw;
    }
    .btn-auth {
        width: 85vw;
    }
}