@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
* {
    font-family: "Poppins";
}

.wrapper {
    min-height: 100vh;
    background-image: url('./backgroundYellowBlack.jpg');
    background-size: cover;
    background-position: center;
}

.box {
    padding: 30px;
    border: 2px solid #cfcfcf;
    border-radius: 5px;
    display: none;
    margin-bottom: 10px;
    width: 370px;
}

.btn-logout {
    width: 370px;
    background-color: #e6ff09;
    color: rgb(39, 39, 39);
    border: none;
}

.btn-logout:hover {
    background-color: #f0f0f0;
    color: rgb(39, 39, 39);
}

@media only screen and (max-width: 430px) {
    .box {
        width: 85vw;
    }
    .btn-logout {
        width: 85vw;
    }
}