<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Story 4</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top px-5 pt-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto d-flex align-items-end">
                    <a class="nav-item nav-link" href="{% url 'home:index' %}#about"> ABOUT</a>
                    <a class="nav-item nav-link" href="{% url 'home:index' %}#hobbies"> HOBBIES</a>
                    <a class="nav-item nav-link" href="{% url 'home:index' %}#experiences"> EXPERIENCES</a>
                    <a class="nav-item nav-link" href="{% url 'home:index' %}#contact"> CONTACT</a>
                    <a class="nav-item nav-link" href="{% url 'story1:index' %}"> STORY 1</a>
                    <a class="nav-item nav-link nav-bonus" href="{% url 'home:more' %}">MORE</a>
                </div>
            </div>
        </nav>
        <div class="imageku">
            <img src="{% static 'home/images/IbnuBulet.svg' %}" alt="ibnuganteng">
        </div>
        <div class="header-text-a d-flex justify-content-end">
            <h3 class="title" data-aos="fade-right">WELCOME</h3>
        </div>
        <div class="header-text-b d-flex justify-content-end">
            <h5 data-aos="fade-left">Mari mengenal Ibnu lebih dekat disini!</h5>
        </div>
        <div class="namaIbnu">
            <img src="{% static 'home/images/IBNU.svg' %}" alt="Ibnu Hambali">
        </div>
    </header>
    {% block section %} {% endblock %}
    <footer class="d-flex flex-md-row justify-content-between align-items-center" id="contact">
        <h3>Let's connect<br>with me</h3>
        <div class="footer-icon-group d-flex justify-content-between align-items-center">
            <a href="https://gitlab.com/hambaliibnu27"><img src="{% static 'home/images/Vector.svg' %}" alt=""></a>
            <a href="https://www.linkedin.com/in/ibnuhambali/"><img src="{% static 'home/images/linkedin.svg' %}" alt="" srcset=""></a>
            <a href="https://instagram.com/itenkoui"><img src="{% static 'home/images/instagram.svg' %}" alt=""></a>
            <a href="mailto:hambaliibnu27@gmail.com"><img src="{% static 'home/images/gmail.svg' %}" alt="" srcset=""></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>