{% extends 'home/base.html' %} {% load static %} {% block navbar %} {% include 'home/base.html' %} {% endblock %} {% block section %}
<section class="about d-flex flex-column justify-content-around" id="about">
    <div class="about-text" data-aos="fade-right">
        <h1 class="about-text-left">Saya adalah orang yang haus akan ilmu-ilmu dunia yang beragam. Saya senang mempelajari segala hal baru yang saya rasa menarik untuk ditelusuri, sekalipun hal tersebut dianggap tabu oleh sebagian orang di Indonesia.</h1>
    </div>
    <div class="about-text" data-aos="fade-left">
        <h3 class="about-text-right">Senang tampil berbeda adalah kebiasaan saya, karena menurut saya manusia adalah makhluk yang unik, yang masing-masing memang berbeda, dan saya senang mempertahankan perbedaan itu, dan tidak berusaha menjadi sama seperti orang lain.</h3>
    </div>
</section>
<section class="hobbies" id="hobbies">
    <h3>MY HOBBIES</h3>
    <div class="hobbies-icon-group d-flex justify-content-around" id="hobby-box">
        <a data-aos="fade-right" href="http://www.arabiccalligraphy.com/#!/home"><img src="{% static 'home/images/GambarFix.svg' %}" alt=""></a>
        <a data-aos="fade-down" href="https://www.youtube.com/user/AsapSCIENCE"><img src="{% static 'home/images/nontonyt.svg' %}" alt="" srcset=""></a>
        <a data-aos="fade-left" href="https://www.duolingo.com/"><img src="{% static 'home/images/Gtrans.svg' %}" alt=""></a>
    </div>
</section>
<section class="experiences" id="experiences">
    <h3>MY EXPERIENCES</h3>
    <div class="experiences-icon-group1 d-flex flex-md-row justify-content-between align-items-center">
        <a data-aos="flip-left" href="https://bem.cs.ui.ac.id/"><img src="{% static 'home/images/BEM.svg' %}" alt=""></a>
        <a data-aos="flip-right" href="https://pmb.cs.ui.ac.id/"><img src="{% static 'home/images/PMB.svg' %}" alt=""></a>
    </div>
    <div class="experiences-icon-group2 d-flex flex-md-row justify-content-between align-items-center">
        <a data-aos="flip-left" href="https://compfest.id"><img src="{% static 'home/images/Compfest.svg' %}" alt="" srcset=""></a>
        <a data-aos="flip-right" href="http://uiyea.org/"><img src="{% static 'home/images/UIYEA.svg' %}" alt=""></a>
    </div>
</section>
{% endblock %}