{% extends 'home/base.html' %} {% load static %} {% block navbar %} {% include 'home/base.html' %} {% endblock %} {% block section %}
<section class="more" id="more">
    <h3>RIWAYAT PENDIDIKAN</h3>
    <div class="more d-flex flex-md-row justify-content-between align-items-center">
        <h4 data-aos="fade-left">SD</h4>
        <h4 data-aos="fade-left">SDN SEMANAN 01 PAGI</h4>
    </div>
    <div class="more d-flex flex-md-row justify-content-between align-items-center">
        <h4 data-aos="fade-left">SMP</h4>
        <h4 data-aos="fade-left">MTsN 8 JAKARTA</h4>
    </div>
    <div class="more d-flex flex-md-row justify-content-between align-items-center">
        <h4 data-aos="fade-left">SMA</h4>
        <h4 data-aos="fade-left">SMAN 94 JAKARTA</h4>
    </div>
    <div class="more d-flex flex-md-row justify-content-between align-items-center">
        <h4 data-aos="fade-left">PERGURUAN TINGGI</h4>
        <h4 data-aos="fade-left">FASILKOM UNIVERSITAS INDONESIA</h4>
    </div>
</section>
{% endblock %}