<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 8</title>
</head>

<body style="background-color: yellow; margin-left: 50px; margin-right: 50px; text-align: center;">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <h1>ITenkoUI Search Books</h1>
    <input id="keyword" placeholder="Cari apa?...">

    <table id="hasil" border="1">

        <!-- ajax -->

    </table>

    <script src="{% static 'search/main.js' %}"></script>

</body>

</html>