<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar PPW</title>
    <style>
        h1 {
            color: blueviolet;
            text-align: center;
            margin-top: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .gambar {
            text-align: center;
        }
        
        h2 {
            color: rgb(8, 0, 128);
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        li {
            color: rgb(0, 0, 0);
            text-align: justify;
            margin-left: 120px;
            margin-right: 130px;
        }
        
        li li {
            color: rgb(0, 0, 0);
            text-align: justify;
            margin-left: 120px;
            margin-right: 130px;
        }
    </style>
</head>

<body>
    <h1>Selamat Datang di Web ITENKOUI</h1>
    <div class="gambar">
        <img src="{% static 'story1/images/Ibnu.JPG' %}" alt="" width="200">
    </div>

    <h2>Ibnu Hambali - 1906353403</h2>
    <h2>MAUNG 2019</h2>
    <ul>
        <li><b>Hobi</b>
            <ul>
                <li>Mencari kebenaran</li>
                <li>Menonton youtube</li>
                <li>Belajar bahasa asing (nice to know) : Ibrani, Jepang, Arab, Turki, Belanda</li>
                <li>Menggambar</li>
            </ul>
        </li>
        <li><b>Deskripsi</b>
            <ul>
                <p>Saya adalah orang yang haus akan ilmu-ilmu dunia yang beragam. Saya senang mempelajari segala hal baru yang saya rasa menarik untuk ditelusuri, sekalipun hal tersebut dianggap tabu oleh sebagian orang di Indonesia. Senang tampil berbeda
                    adalah kebiasaan saya, karena menurut saya manusia adalah makhluk yang unik, yang masing-masing memang berbeda, dan saya senang mempertahankan perbedaan itu, dan tidak berusaha menjadi sama seperti orang lain.
                </p>
            </ul>
        </li>
        <li><b>Riwayat Pendidikan</b>
            <ul>
                <li>SD Negeri Semanan 01 Pagi : 2006 - 2012</li>
                <li>MTs Negeri 8 Jakarta : 2012 - 2015</li>
                <li>SMA Negeri 94 Jakarta : 2015 - 2018</li>
                <li>Fakultas Kedokteran UPN "Veteran" Jakarta : 2018 - 2019</li>
                <li>Fasilkom Universitas Indonesia : 2019 - Sekarang</li>
            </ul>
        </li>
        <li><b>Media Sosial</b>
            <ul>
                <li>Instagram : <a href="https://www.instagram.com/itenkoui/">@itenkoui</a></li>
                <li>line : itenkoino1</li>
                <li>linkedin : <a href="https://www.linkedin.com/in/ibnuhambali/">Ibnu Hambali</a></li>
            </ul>
        </li>
    </ul>





</body>

</html>