    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* END CSS RESET */
    
    html {
        font-size: 1.2vw;
        scroll-behavior: smooth;
        width: 100%;
        overflow-x: hidden;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(to right, #141414 50%, #EAE41E 0%);
        height: fit-content;
    }
    
    header {
        padding: 10px;
        color: #141414;
        height: 55em;
        font-weight: 900;
    }
    
    header h3 {
        margin-left: 350px;
        font-size: 3em;
        text-align: center;
    }
    
    header h5 {
        margin-left: 400px;
        text-align: center;
    }
    
    nav {
        color: #141414;
        transition: ease-in .5s;
    }
    
    .nav-item {
        font-weight: bolder;
    }
    
    .header-text-a {
        margin-right: 335px;
    }
    
    .header-text-b {
        margin-right: 250px;
    }
    
    .imageku {
        margin-left: 200px;
        margin-top: 80px;
    }
    
    .namaIbnu {
        margin-left: 150px;
        margin-bottom: 200px;
    }
    /*END HEADER*/
    /* BEGIN ABOUT */
    
    .about {
        height: 30em;
        background-color: #EAE41E;
        padding: 6em 8em;
    }
    
    .about-text {
        color: #141414;
        max-width: 40vw;
    }
    
    .about-text-left {
        font-size: larger;
        margin: 0;
        text-align: left;
        width: 100%;
        line-height: 1.6;
    }
    
    .about-text-right {
        font-size: larger;
        margin: 0;
        text-align: end;
        width: 100%;
        line-height: 1.6;
    }
    
    .about-text:nth-child(1) {
        padding-left: 1em;
        border-left: 0.2em solid #141414;
        height: 9.5em;
    }
    
    .about-text:nth-child(2) {
        align-self: flex-end;
        flex-direction: column;
        text-align: end;
        padding-right: 1em;
        border-right: 0.2em solid #141414;
        height: 10.5em;
    }
    
    .about-text:nth-child(2) span {
        text-decoration: underline;
    }
    /* END ABOUT */
    /*BEGIN HOBBIES */
    
    .hobbies {
        font-weight: bolder;
        background-color: #141414;
        height: fit-content;
        padding: 6em 8em;
    }
    
    .hobbies h3 {
        margin-bottom: 60px;
        color: #EAE41E;
        font-size: 2em;
        text-align: center;
    }
    /* END HOBBIES */
    /*BEGIN EXPERIENCES */
    
    .experiences {
        font-weight: bolder;
        background: linear-gradient(to right, #EAE41E 50%, #141414 0%);
        height: fit-content;
        padding: 3em 4em;
    }
    
    .experiences h3 {
        margin-left: 50px;
        margin-bottom: 60px;
        color: #141414;
        font-size: 2em;
        text-align: left;
    }
    
    .experiences-icon-group1 {
        margin-right: 57px;
        margin-bottom: 30px;
    }
    /* END EXPERIENCES */
    /* BEGIN FOOTER */
    
    footer {
        font-weight: bolder;
        background-color: #141414;
        height: fit-content;
        padding: 3em;
    }
    
    footer h3 {
        color: #EAE41E;
        font-size: 2em;
    }
    
    .footer-icon-group {
        width: 20em;
    }
    
    .footer-icon-group img {
        width: 4em;
        height: auto;
    }
    /* END FOOTER */
    /* MORE */
    
    .more {
        font-weight: bolder;
        background: linear-gradient(to right, #EAE41E 50%, #141414 0%);
        color: white;
        font-size: 1.3em;
        text-align: left;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
    }
    
    .more h3 {
        padding-top: 60px;
        padding-bottom: 50px;
        font-size: 1.5em;
        color: #141414;
    }
    /* RESPONSIVE */
    
    @media screen and (max-width: 768px) {
        .header-text-a {
            margin-left: 400px;
        }
        .header-text-b {
            margin-left: 400px;
        }
        img {
            width: 100px;
        }
        .imageku {
            margin-left: 60px;
            margin-top: 20px;
        }
        .namaIbnu {
            margin-left: 58px;
            margin-bottom: 200px;
        }
        #hobby-box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .experiences h3 {
            margin-left: 20px;
            margin-bottom: 10px;
        }
        .experiences-icon-group1 {
            margin-right: 70px;
            margin-bottom: 5px;
        }
        .experiences-icon-group2 {
            margin-right: 70px;
        }
    }